<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.video.mapper.FfmpegBgmMapper">

    <resultMap type="FfmpegBgm" id="FfmpegBgmResult">
        <result property="id" column="id"/>
        <result property="audioUrl" column="audio_url"/>
        <result property="status" column="status"/>
        <result property="duration" column="duration"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectFfmpegBgmVo">
        select id, audio_url, status, duration, create_by, create_time, update_by, update_time, remark from ffmpeg_bgm
    </sql>

    <select id="selectFfmpegBgmList" parameterType="FfmpegBgm" resultMap="FfmpegBgmResult">
        <include refid="selectFfmpegBgmVo"/>
        <where>
            <if test="audioUrl != null  and audioUrl != ''">and audio_url = #{audioUrl}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="duration != null ">and duration = #{duration}</if>
        </where>
    </select>

    <select id="selectFfmpegBgmById" parameterType="Long" resultMap="FfmpegBgmResult">
        <include refid="selectFfmpegBgmVo"/>
        where id = #{id}
    </select>


    <select id="getRandFfmpegBgm" parameterType="FfmpegBgm" resultMap="FfmpegBgmResult">
        <include refid="selectFfmpegBgmVo"/>
        where status = 0
        ORDER BY rand() limit 0,1
    </select>


    <insert id="insertFfmpegBgm" parameterType="FfmpegBgm" useGeneratedKeys="true" keyProperty="id">
        insert into ffmpeg_bgm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="audioUrl != null">audio_url,</if>
            <if test="status != null">status,</if>
            <if test="duration != null">duration,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="audioUrl != null">#{audioUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="duration != null">#{duration},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateFfmpegBgm" parameterType="FfmpegBgm">
        update ffmpeg_bgm
        <trim prefix="SET" suffixOverrides=",">
            <if test="audioUrl != null">audio_url = #{audioUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFfmpegBgmById" parameterType="Long">
        delete from ffmpeg_bgm where id = #{id}
    </delete>

    <delete id="deleteFfmpegBgmByIds" parameterType="String">
        delete from ffmpeg_bgm where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>