<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toker.project.merchants.mapper.MerchantsMapper">
    <resultMap type="Merchants" id="MerchantsResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="openId" column="open_id"/>
        <result property="nickname" column="nickname"/>
        <result property="poiId" column="poi_id"/>
        <result property="poiName" column="poi_name"/>
        <result property="microAppId" column="micro_app_id"/>
        <result property="microAppTitle" column="micro_app_title"/>
        <result property="microAppUrl" column="micro_app_url"/>
        <result property="address" column="address"/>
        <result property="douyinUrl" column="douyin_url"/>
        <result property="agentId" column="agent_id"/>
        <result property="type"    column="type"    />
        <result property="staTime"    column="sta_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="videoCount"    column="video_count"    />
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMerchantsVo">
        select m.id,
               m.name,
               m.open_id,
               m.nickname,
               m.poi_id,
               m.poi_name,
               m.micro_app_id,
               m.micro_app_title,
               m.micro_app_url,
               m.address,
               m.douyin_url,
               m.agent_id,
               m.type,
               m.sta_time,
               m.end_time,
               m.video_count,
               m.create_by,
               m.create_time,
               m.update_by,
               m.update_time,
               m.remark,
            a.name as agentName
        from merchants m
        left join agent a on a.id = m.agent_id
    </sql>

    <select id="selectMerchantsList" parameterType="Merchants" resultMap="MerchantsResult">
        <include refid="selectMerchantsVo"/>
        <where>
            <if test="name != null  and name != ''">
                and m.name like concat('%', #{name}, '%')
            </if>
            <if test="agentId != null ">
                and m.agent_id in ( SELECT id FROM agent WHERE id = #{agentId} or find_in_set( #{agentId} , ancestors ) )
            </if>
        </where>
        order by m.id desc
    </select>

    <select id="selectMerchantsById" parameterType="Long" resultMap="MerchantsResult">
        <include refid="selectMerchantsVo"/>
        where m.id = #{id}
    </select>

    <insert id="insertMerchants" parameterType="Merchants" useGeneratedKeys="true" keyProperty="id">
        insert into merchants
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="poiId != null">
                poi_id,
            </if>
            <if test="poiName != null">
                poi_name,
            </if>
            <if test="microAppId != null">
                micro_app_id,
            </if>
            <if test="microAppTitle != null">
                micro_app_title,
            </if>
            <if test="microAppUrl != null">
                micro_app_url,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="douyinUrl != null">
                douyin_url,
            </if>
            <if test="agentId != null">
                agent_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="staTime != null">
                sta_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="videoCount != null">
                video_count,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="openId != null">
                #{openId},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="poiId != null">
                #{poiId},
            </if>
            <if test="poiName != null">
                #{poiName},
            </if>
            <if test="microAppId != null">
                #{microAppId},
            </if>
            <if test="microAppTitle != null">
                #{microAppTitle},
            </if>
            <if test="microAppUrl != null">
                #{microAppUrl},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="douyinUrl != null">
                #{douyinUrl},
            </if>
            <if test="agentId != null">
                #{agentId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="staTime != null">
                #{staTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="videoCount != null">
                #{videoCount},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateMerchants" parameterType="Merchants">
        update merchants
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="openId != null">
                open_id = #{openId},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="poiId != null">
                poi_id = #{poiId},
            </if>
            <if test="poiName != null">
                poi_name = #{poiName},
            </if>
            <if test="microAppId != null">
                micro_app_id = #{microAppId},
            </if>
            <if test="microAppTitle != null">
                micro_app_title = #{microAppTitle},
            </if>
            <if test="microAppUrl != null">
                micro_app_url = #{microAppUrl},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="douyinUrl != null">
                douyin_url = #{douyinUrl},
            </if>
            <if test="agentId != null">
                agent_id = #{agentId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="staTime != null">
                sta_time = #{staTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="videoCount != null">
                video_count = #{videoCount},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMerchantsById" parameterType="Long">
        delete
        from merchants
        where id = #{id}
    </delete>

    <delete id="deleteMerchantsByIds" parameterType="String">
        delete from merchants where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!--视频余量充值
    <update id="rechargeVideoCount">
        update sys_dept
        set video_count = video_count + #{videoCount}
        where dept_id = #{deptId}
    </update>-->
    <!--视频余量减少-->
    <update id="minusVideoCount">
        update merchants
        set video_count = video_count -#{videoCount}
        where id = #{id}
    </update>


</mapper>